* {
  text-shadow: 1px 1px rgba(AA AA AA); 
  font-family: Cantarell, sans-serif;
}
#tab1Button {
  display:none;
}
.sisu {
  position:absolute;
  left:10%;
  right:10%;
  font-size:24px;
  text-align: center;
  line-height:150%;
}
.innerTabButton {
  cursor:pointer;
}
#indexText {
  position:absolute;
  font-size:2.25em;
  top:150px;
  left:10%;
  right:10%;
}
.custom1 {
	font-size:26px;
}