html * {
  text-shadow:1px 1px 1px #d3d3d3;
}
body {
  background-color: silver;
}
#buyeverythingbutton {
  position:absolute;
  top:27px;
  left:337px;
  border-radius: 4px;
  height:50px;
  font-size:20px;
}
#level {
  position:absolute;
  left:820px;
  background-color:lightgreen;
  border:none;
  top:0px;
  width:208px;
  font-size:20px;
}
#prevlevel {
  z-index:10;
  position:absolute;
  left:820px;
  background-color:lightgreen;
  border:none;
  top:0px;
  font-size:20px;
  width:20px;
}
#nextlevel {
  z-index:10;
  position:absolute;
  left:998px;
  background-color:lightgreen;
  border:none;
  top:0px;
  font-size:20px;
  width:20px;
}
#autoprogress {
  position:absolute;
  left:985px;
  top:33px;
}
#autoprogresstext {
  position:absolute;
  left:850px;
  top:22px;
  font-size:20px;
}
#stats {
  width:250px;
  font-size:13px;
  text-shadow:2px 2px #d3d3d3;
  background-color:lightyellow;
  white-space: nowrap;
}
#barwrapper {
  position:absolute;
  left:700px;
  text-align:center;
}
#herohp {
  position:absolute;
  white-space: nowrap;
  top:0px;
  height:36px;
  border: 1px solid black;
  background: #00ff00;
  text-align:left;
  transition: width 0.3s ease-out;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#playerattackbar {
  position:absolute;
  white-space: nowrap;
  top:30px;
  height:6px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#enemyattackbar {
  position:absolute;
  white-space: nowrap;
  top:138px;
  height:6px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#mana {
  position:absolute;
  white-space: nowrap;
  height:36px;
  border: 1px solid black;
  top:36px;
  color: blue;
  background: #4444ff;
  text-align:left;
  transition: width;
  transition-duration: 0.05s;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#castbar {
  position:absolute;
  white-space: nowrap;
  height:36px;
  top:72px;
  color: #ffffff;
  background: #000000;
  text-align:left;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#enemyhp {
  position:absolute;
  white-space: nowrap;
  top:108px;
  height:36px;
  border: 1px solid black;
  background: #ff0000;
  text-align:left;
  transition: width 0.2s ease;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#gold {
  background: gold;
  cursor:pointer;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#healerupgradesbutton, #heroupgradesbutton, #archerupgradesbutton {
  visibility: hidden;
  position:absolute;
}
#healup, #healcost, #maxmana, #healercritchance, #healhot, #maxHp, #armor, #blockchance, #blockfactor, #dmg, #critchance, #critfactor, #manaregen, #attackspeed, #autohealspeed, #castspeed {
  border-radius: 4px;
  font-family: arial;
  font-size:15px;
  font-weight: bold;
}
#tab1button, #tab2button, #tab3button, #tab4button {
  border-radius:4px;
  background-color:lightblue;
}
#tab1button:hover, #tab2button:hover, #tab3button:hover, #tab4button:hover {
  background-color:#9bc2cf;
}
#tab1 {
  position:absolute;
  display:none;
  font-size: 20;
  text-align: center;
  position:absolute;
  left:0px;
  top:60px;
  height:800px;
}
#tab2, #tab3, #tab4 {
  display:none;
}
#healerupgrades {
  position:absolute;
  top:20px;
  left: 0px;
  background: #50FF50;
  width: 300px;
  height: 250px;
}
#heroupgrades {
  position:absolute;
  top:20px;
  left: 300px;
  background: #7070FF;
  width: 300px;
  height: 250px;
}
#archerupgrades {
  position:absolute;
  top:270px;
  left: 0px;
  background: red;
  width: 300px;
  height: 250px;
}
#generalupgrades {
  position:absolute;
  top:270px;
  left: 300px;
  background-color:gray;
  width:300px;
  height:250px;
}
