html * {
  text-shadow:1px 1px 1px #d3d3d3;
}
body {
  background-color: silver;
}
#buyeverythingbutton {
  position:absolute;
  top:35px;
  left:305px;
  border-radius: 4px;
  height:50px;
  font-size:20px;
}
#level {
  position:absolute;
  left:820px;
  background-color:lightgreen;
  border:none;
  top:0px;
  width:208px;
  font-size:20px;
}
#prevlevel {
  z-index:10;
  position:absolute;
  left:820px;
  background-color:lightgreen;
  border:none;
  top:0px;
  font-size:20px;
  width:20px;
}
#nextlevel {
  z-index:10;
  position:absolute;
  left:998px;
  background-color:lightgreen;
  border:none;
  top:0px;
  font-size:20px;
  width:20px;
}
#autoprogress {
  position:absolute;
  left:985px;
  top:30px;
}
#autoprogresstext {
  position:absolute;
  left:850px;
  top:25px;
  font-size:20px;
}
#stats {
  width:250px;
  font-size:13px;
  text-shadow:2px 2px #d3d3d3;
  background-color:lightyellow;
  white-space: nowrap;
}
#barwrapper {
  position:absolute;
  left:700px;
  text-align:center;
}
#herohp {
  position:absolute;
  white-space: nowrap;
  top:0px;
  height:36px;
  border: 1px solid black;
  background-image: url("dat/HeroHp.png");
  text-align:left;
  transition: width 0.3s ease-out;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#playerattackbar {
  position:absolute;
  white-space: nowrap;
  top:140px;
  height:4px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#enemyattackbar {
  position:absolute;
  white-space: nowrap;
  top:32px;
  height:4px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#mana {
  position:absolute;
  white-space: nowrap;
  height:36px;
  border: 1px solid black;
  top:36px;
  color: blue;
  background-image: url("dat/Mana.png");
  text-align:left;
  transition: width;
  transition-duration: 0.05s;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#castbar {
  position:absolute;
  white-space: nowrap;
  height:36px;
  top:72px;
  color: #ffffff;
  background: #000000;
  text-align:left;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#enemyhp {
  position:absolute;
  white-space: nowrap;
  top:108px;
  height:36px;
  border: 1px solid black;
  background-image: url("dat/EnemyHp.png");
  text-align:left;
  transition: width 0.2s ease;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#gold {
  background: gold;
  cursor:pointer;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#healerupgradesbutton, #heroupgradesbutton, #archerupgradesbutton {
  visibility: hidden;
  position:absolute;
}
#healUp, #healCost, #maxMana, #healerCritChance, #healHot, #maxHp, #armor, #blockChance, #blockFactor, #dmg, #critChance, #critFactor, #manaRegen, #attackSpeed, #castSpeed {
  border-radius: 4px;
  font-family: arial;
  font-size:15px;
  font-weight: bold;
  width:275px;
  height:40px;
  display:none;
  text-shadow:lightgray 1px 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tooltip {
  background-color:lightblue;
  border-radius:3px;
  border:black 1px solid;
  width:200px;
  height:150px;
  position:absolute;
  z-index:1000;
  display:none;
  white-space:pre-line;
}
/* #upgrade:hover ~ #upgradetooltip{display:inline-block} start */
#healUp:hover ~ #healUpTooltip{display:inline-block}#healCost:hover ~ #healCostTooltip{display:inline-block}#maxMana:hover ~ #maxManaTooltip{display:inline-block}#healerCritChance:hover ~ #healerCritChanceTooltip{display:inline-block}#healHot:hover ~ #healHotTooltip{display:inline-block}#maxHp:hover ~ #maxHpTooltip{display:inline-block}#armor:hover ~ #armorTooltip{display:inline-block}#blockChance:hover ~ #blockChanceTooltip{display:inline-block}#blockFactor:hover ~ #blockFactorTooltip{display:inline-block}#dmg:hover ~ #dmgTooltip{display:inline-block}#critChance:hover ~ #critChanceTooltip{display:inline-block}#critFactor:hover ~ #critFactorTooltip{display:inline-block}#manaRegen:hover ~ #manaRegenTooltip{display:inline-block}#attackSpeed:hover ~ #attackSpeedTooltip{display:inline-block}#castSpeed:hover ~ #castSpeedTooltip{display:inline-block}#hpBlessing:hover ~ #hpBlessingTooltip{display:inline-block}#healUpBlessing:hover ~ #healUpBlessingTooltip{display:inline-block}#dmgBlessing:hover ~ #dmgBlessingTooltip{display:inline-block}#goldBlessing:hover ~ #goldBlessingTooltip{display:inline-block}#bulkAmountBlessing:hover ~ #bulkAmountBlessingTooltip{display:inline-block}
/* #upgrade:hover ~ #upgradeTooltip{display:inline-block} end */
#attackSpeedTooltip {width:250px}
#healUpTooltip {height:160px}
.upgradeHeader {
  font-size:20px;
  text-shadow:lightgray 2px 1px;
}
#hpBlessing, #healUpBlessing, #dmgBlessing, #goldBlessing, #bulkAmountBlessing {
	border-radius:10px;
	font-family: arial;
	font-size:15px;
	font-weight: bold;
	height:40px;
	width:280px;
  margin-top:5px;
  color:green;
  text-shadow:lightgray 1px 1px;
}
#hpBlessing {
	background-color: #64C0FF;
}
#healUpBlessing {
	background-color: #96FF32;
}
#dmgBlessing {
  background-color: #FF6432;
}
#goldBlessing {
  background-color: #FFFF64;
}
#bulkAmountBlessing {
  background-color: #AAFF96;
}
.tabbutton {
  border-radius:4px;
  background-color:lightblue;
}
.tabbutton:hover {
  background-color:#9bc2cf;
  transition-duration:0.15s;
}
#tab1 {
  position:absolute;
  display:none;
  font-size: 20;
  text-align: center;
  position:absolute;
  left:0px;
  top:60px;
  height:800px;
}
#tab2, #tab9 {
  display:none;
}
#archerupgrades {
  position:absolute;
  top:25px;
  left: 5px;
  background: #A0785A;
  width: 300px;
  height: 250px;
  border-right:solid 1px black;
  border-bottom:solid 1px black;
  border-radius:15px 0px 0px 0px;
}
#heroupgrades {
  position:absolute;
  top:25px;
  left: 305px;
  background: #6464FA;
  width: 300px;
  height: 250px;
  border-left:solid 1px black;
  border-bottom:solid 1px black;
  border-radius:0px 15px 0px 0px;
}
#healerupgrades {
  position:absolute;
  top:275px;
  left: 5px;
  background: #96C832;
  width: 300px;
  height: 250px;
  border-right:solid 1px black;
  border-top:solid 1px black;
  border-radius:0px 0px 0px 15px;
}
#generalupgrades {
  position:absolute;
  top:275px;
  left: 305px;
  background-color:#F5E6AA;
  width:300px;
  height:250px;
  border-left:solid 1px black;
  border-top:solid 1px black;
  border-radius:0px 0px 15px 0px;
}
#pause {display:none}
#xp {
  width:97.5%;
  height:18px;
  background-color:#A0A0A0;
  border-radius:5px;
  position:fixed;
  left:1.25%;
  bottom:8px;
  z-index:0;
}
#xpbar {
  height:inherit;
  background-color:#A000A0;
  border-radius:inherit;
  transition-duration:0.1s;
  z-index:1;
}
#xptext {
  position:relative;
  bottom:18px;
  text-align:center;
  overflow:visible;
  white-space:nowrap;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-shadow:1px 1px silver;
  z-index:2;
}
#xpLevel {
  position:fixed;
  bottom:28px;
  left:50%;
  transform:translateX(-50%);
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-shadow:1px 1px silver;
}