html * {
  text-shadow:0.5px 0.5px 1px #d3d3d3;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}
#enemywrapper {
  width:100%;
  position:absolute;
  top:calc(50vh - 100px);
  text-align:center;
}
#enemycontainer {
  var screenwidth = screen.width;
  z-index: 11;
}
#buyeverythingbutton {
  position:absolute;
  top:27px;
  left:337px;
  border-radius: 4px;
  height:50px;
  font-size:20px;
}
#level {
  position:absolute;
  left:calc(40% + 58px);
  background-color:lightgreen;
  border:none;
  top:0%;
  width:208px;
  font-size:20px;
}
#prevlevel {
  z-index:10;
  position:absolute;
  left:calc(40% + 40px);
  background-color:lightgreen;
  border:none;
  top:0%;
  font-size:20px;
  width:20px;
}
#nextlevel {
  z-index:10;
  position:absolute;
  left:calc(40% + 238px);
  background-color:lightgreen;
  border:none;
  top:0%;
  font-size:20px;
  width:20px;
}
#autoprogress {
  position:absolute;
  left:calc(42.5% + 135px);
  top:33px;
}
#autoprogresstext {
  position:absolute;
  left:calc(42.5% + 0px);
  top:22px;
  font-size:20px;
}
#stats {
  width:250px;
  font-size:13px;
  text-shadow:2px 2px #d3d3d3;
  background-color:lightyellow;
  white-space: nowrap;
}
#barwrapper {
  width:100%;
  position:absolute;
  left:50%;
  margin-left:calc(-12vw - 36px);
  text-align:center;
}
#herohp {
  position:absolute;
  white-space: nowrap;
  top:8%;
  height:36px;
  border: 1px solid black;
  background: #00ff00;
  text-align:left;
  transition: width;
  transition-duration: 0.05s;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#playerattackbar {
  position:absolute;
  white-space: nowrap;
  top:calc(8% + 30px);
  height:6px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#enemyattackbar {
  position:absolute;
  white-space: nowrap;
  top:calc(8% + 138px);
  height:6px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
}
#mana {
  position:absolute;
  white-space: nowrap;
  height:36px;
  border: 1px solid black;
  top:calc(8% + 36px);
  color: blue;
  background: #4444ff;
  text-align:left;
  transition: width;
  transition-duration: 0.05s;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#castbar {
  position:absolute;
  white-space: nowrap;
  height:36px;
  top:calc(8% + 72px);
  color: #ffffff;
  background: #000000;
  text-align:left;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#enemyhp {
  position:absolute;
  white-space: nowrap;
  top:calc(8% + 108px);
  height:36px;
  border: 1px solid black;
  background: #ff0000;
  text-align:left;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#gold {
  background: gold;
  cursor:pointer;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#healerupgradesbutton, #heroupgradesbutton, #archerupgradesbutton {
  visibility: hidden;
  position:absolute;
}
#healup, #healcost, #maxmana, #healercritchance, #maxhp, #armor, #blockchance, #blockfactor, #dmg, #critchance, #critfactor, #manaregen, #attackspeed, #autohealspeed, #castspeed {
  border-radius: 4px;
  font-family: arial;
  font-size:15px;
  font-weight: bold;
}
#tab1button, #tab2button, #tab3button, #tab4button {
  border-radius:4px;
  background-color:lightblue;
}
#tab1button:hover, #tab2button:hover, #tab3button:hover, #tab4button:hover {
  background-color:#9bc2cf;
}
#tab1 {
  position:absolute;
  display:none;
  font-size: 20;
  text-align: center;
  position:absolute;
  top:60px;
  left:-10px;
  height:100%;
  width:100%;
}
#tab2, #tab3, #tab4 {
  display:none;
}
#healerupgrades {
  position:absolute;
  top:2.5%;
  left: 0.5%;
  background: #50FF50;
  width: 300px;
  height: 250px;
}
#heroupgrades {
  position:absolute;
  top:2.5%;
  left: calc(0.5% + 300px);
  background: #7070FF;
  width: 300px;
  height: 250px;
}
#archerupgrades {
  position:absolute;
  top:calc(2.5% + 250px);
  left: 0.5%;
  background: red;
  width: 300px;
  height: 250px;
}
#generalupgrades {
  position:absolute;
  top:calc(2.5% + 250px);
  left: calc(0.5% + 300px);
  background-color:gray;
  width:300px;
  height:250px;
}
