html * {
  text-shadow:1px 1px 1px #d3d3d3;
  font-family: "cantarellregular";
}
body {
  background-color: silver;
  overflow:hidden;
}
#offlineProgressWrapper {
  position:absolute;
  width:110%;
  height:110%;
  top:-10px;
  left:-10px;
  opacity:0.4;
  background-color:black;
  display:none;
  z-index:1000;
}
#offlineProgressText {
  position:absolute;
  left:780px;
  top:300px;
  width:300px;
  height:200px;
  text-align:center;
  background-color:lightblue;
  z-index:1001;
}
#offlineProgressButton {
  position:absolute;
  left:855px;
  top:435px;
  font-size:30px;
  width:150px;
  border-radius:12px;
  z-index:1002;
}
#buyEverythingButton {
  font-family:"cantarellregular";
  position:absolute;
  top:35px;
  left:305px;
  border-radius: 4px;
  height:50px;
  font-size:20px;
  display:none;
}
#level {
  position:absolute;
  left:819px;
  background-color:lightgreen;
  border:none;
  top:0px;
  width:208px;
  height:28px;
  font-size:20px;
}
#prevLevel {
  z-index:10;
  position:absolute;
  left:820px;
  background-color:lightgreen;
  border:none;
  top:0px;
  outline: 1px solid black;
  font-size:20px;
  width:28px;
}
#nextLevel {
  z-index:10;
  position:absolute;
  left:998px;
  background-color:lightgreen;
  border:none;
  top:0px;
  outline: 1px solid black;
  font-size:20px;
  width:28px;
}
#autoProgress {
  position:absolute;
  left:985px;
  top:30px;
  display:none;
}
#autoProgressText {
  position:absolute;
  left:850px;
  top:24px;
  font-size:20px;
  display:none;
}
#stats {
  width:250px;
  font-size:13px;
  text-shadow:2px 2px #d3d3d3;
  background-color:lightyellow;
  white-space: nowrap;
}
#barWrapper {
  position:absolute;
  left:700px;
  text-align:center;
}
#knightHp {
  position:absolute;
  white-space: nowrap;
  top:0px;
  height:35px;
  border: 1px solid black;
  background-image: url("dat/knightHp.png");
  text-align:left;
  transition: width 0.2s linear;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
  display:none;
}
#archerAttackBar {
  position:absolute;
  white-space: nowrap;
  top:141px;
  height:3px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
  display:none;
}
#enemyAttackBar {
  position:absolute;
  white-space: nowrap;
  top:33px;
  height:3px;
  border: 1px solid black;
  background: #ffff00;
  z-index:1;
  display:none;
}
#mana {
  position:absolute;
  white-space: nowrap;
  height:36px;
  border: 1px solid black;
  top:36px;
  color: blue;
  background-image: url("dat/Mana.png");
  text-align:left;
  transition: width;
  transition-duration: 0.05s;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
  display:none;
}
#castBar {
  position:absolute;
  white-space: nowrap;
  height:36px;
  top:72px;
  color: #ffffff;
  background: #000000;
  text-align:left;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#enemyHp {
  position:absolute;
  white-space: nowrap;
  top:108px;
  height:36px;
  border: 1px solid black;
  background-image: url("dat/enemyHp.png");
  text-align:left;
  transition: width 0.2s linear;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
#gold {
  background: gold;
  cursor:pointer;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}
.tooltip {
  font-family: "cantarellregular";
  font-size: 13px;
  background-color:lightblue;
  border-radius:3px;
  border:black 1px solid;
  width:200px;
  height:150px;
  position:absolute;
  z-index:100;
  display:none;
  white-space:pre-line;
  margin-left:2px;
  margin-top:-2px;
}
.upgradeHeader {
  font-family: "cantarellregular";
  font-size:20px;
  text-shadow:#888888 1px 1px;
}
.tabButton {
  border-radius:4px;
  background-color:lightblue;
}
#tab2Button {
	display:none;
}
.tabButton:hover {
  background-color:#9bc2cf;
  transition-duration:0.15s;
}
.upgradeButton {
	font-family: "cantarellregular";
	font-size:13px;
	font-weight: bold;
  background-color:#EEEEEE; /* Looks like a button, feels like a button, isn't a button. */
  white-space:pre-wrap; /* Originally to allow new lines, now it will just break everything if removed*/
  margin:-2.2px;
  height:35px; /* Fit the icon */
  width:280px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  animation: 0.2s ease-in infinite;
}
@keyframes blink {
  0% {
    background-color: #999999;
  }
  100% {
    background-color: #EEEEEE;
  }
}
.upgradeText2 {
  color:rgba(245, 225, 5);
  text-shadow: #000000 1px 1px;
}
.upgradeButtonImage {
  position:absolute;
  left:11px;
  margin-top:-18px;
  z-index:1;
  border-right: black solid 1px;
  padding-bottom:1px;
  padding-right:1px;
}
#tab1 {
  position:absolute;
  text-align: center;
  position:absolute;
  left:0px;
  top:60px;
  height:800px;
}
#tab2, #tab3 {
  display:none;
}
#archerUpgrades {
  position:absolute;
  top:25px;
  left: 5px;
  background: #A0785A;
  width: 300px;
  height: 250px;
  border-right:solid 1px black;
  border-bottom:solid 1px black;
  border-radius:15px 0px 0px 0px;
}
#knightUpgrades {
  position:absolute;
  top:25px;
  left: 305px;
  background: #6464FA;
  width: 300px;
  height: 250px;
  border-left:solid 1px black;
  border-bottom:solid 1px black;
  border-radius:0px 15px 0px 0px;
  display:none;
}
#priestUpgrades {
  position:absolute;
  top:275px;
  left: 5px;
  background: #96C832;
  width: 300px;
  height: 250px;
  border-right:solid 1px black;
  border-top:solid 1px black;
  border-radius:0px 0px 0px 15px;
  display:none;
}
#playerUpgrades {
  position:absolute;
  top:275px;
  left: 305px;
  background-color:#F5E6AA;
  width:300px;
  height:250px;
  border-left:solid 1px black;
  border-top:solid 1px black;
  border-radius:0px 0px 15px 0px;
  display:none;
}
#pause {display:none}
#xp {
  width:97.5%;
  height:18px;
  background-color:#A0A0A0;
  border-radius:5px;
  position:fixed;
  left:1.25%;
  bottom:8px;
  z-index:0;
}
#xpBar {
  height:inherit;
  background-color:#A000A0;
  border-radius:inherit;
  transition-duration:0.1s;
  z-index:1;
}
#xpText {
  position:relative;
  bottom:18px;
  text-align:center;
  overflow:visible;
  white-space:nowrap;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-shadow:1px 1px silver;
  z-index:2;
}
#xpLevel {
  position:fixed;
  bottom:28px;
  left:50%;
  transform:translateX(-50%);
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-shadow:1px 1px silver;
}